* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: black;
  color: white;
}
.container {
  height: 100vh;
  background-image: url('imgs/J4o.gif');
  background-position: center;
}
.container .main-center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container .main-center .left-side {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .main-center .left-side .voice-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main-center .left-side button {
  height: 35px;
  width: 35px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  background-color: rgb(140, 243, 243);
  border-radius: 50%;
  border: none;
  margin-top: 30px;
}
.container .main-center .left-side .left-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main-center .left-side .left-img img{
  width: 200px;
}
.container .main-center .right-side {
  width: 20%;
  height: 100%;
}
.container .main-center .right-side .right-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main-center .center {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#speechbox {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 10px;
}
.news-list{
  border-radius: 10px;
  display: none;
  padding: 10px;
  flex-direction: column;
  width: 72%;
  height: 80vh;
  z-index: 70;
  position: absolute;
  box-shadow: 1px 1px 15px 1px rgb(94, 93, 93);
  top:50px;
  left: 13%;
  background-color: rgb(255, 255, 255);
  color: black;
}
.news-list .search-news{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  padding: 10px 0;
  font-size: large;
  flex-wrap: wrap;
  gap: 30px;
  background-color: rgb(35, 35, 218);
}
.news-list .search-news .select-catagory,
.news-list .search-news .select-country{
  display: flex;
  flex-direction: column;
}
.news-list .search-news button{
  padding: 6px 20px;
  margin-top: 3px;
  font-size: large;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255);
  outline: none;
}
.news-list .search-news button:hover{
  background-color: rgb(9, 241, 87);
  color: white;
  transition: all 0.5s ease;
}
.news-list .search-news select{
  padding: 5px 20px;
  font-size: large;
  margin-top: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.news-list .search-news label{
  color: white;
  font-weight: bold;
}
#news{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-size: large;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 20px;
}
#news .card{
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 1px rgb(94, 93, 93);
  background-color: rgb(255, 255, 255);
  color: black;
}
#news .card img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#news .card .body{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#news .card .body .title{
  font-size: 18px;
  font-weight: bold;
}
#news .card .body .content{
  font-size: large;
  margin-top: 10px;
}
#news .card .body .url{
  font-size: 16px;
  margin-top: 5px;
  color: blue;
}
#news .card .body .footer{
  display: flex;
  margin-top: 10px;
  color: rgb(16, 16, 151);
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
}
.age-calculator,
.weather-list,
.command-list{
  width: 70%;
  height: auto;
  z-index: 88;
  display: none;
  flex-direction:column;
  padding: 10px 20px;
  box-shadow: 1px 1px 15px 1px rgb(94, 93, 93);
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  position: absolute;
  top:200px;
  left:13%;
  border-radius:5px;
}
.age-calculator .input-field{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.age-calculator .input-field input{
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: large;
  outline: none;
}
.age-calculator .input-field button{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 102, 255);
  color: white;
  margin-left: 10px;
  font-size: large;
}
.age-calculator .output-field{
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}
.jarviselist {
  width: 98%;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 17px;
  padding: 5px 8px;
  margin-top: 5px;
  background-color: white;
  color: black;
}
.jarvisdivs{
  width: 100%;
}
.userdivs{
  width: 100%;
}
.userlist {
  width: 98%;
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 17px;
  padding: 5px 8px;
  margin-top: 5px;
  background-color: rgb(15, 235, 235);
  color: black;
}
.mic-container{
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startvoices{
  color: rgb(0, 0, 0);
  animation: voicestart 1s ease-in-out infinite;
}
.container .main-center .main-left{
  display: none;
}


@keyframes voicestart {
  0% {
    width: 35px;
    height: 35px;
  }
  100% {
    background-color: rgba(0, 255, 255, 0.363);
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1400px) {
  #news .card{
    width: 300px;
  }
}

@media (max-width: 1100px) {
  #news .card{
    width: 300px;
  }
}

@media (max-width: 850px) {
  .container .main-center .left-side .left-img img{
    width: 150px;
  }
  .container .main-center .right-side .right-img img{
    width: 200px;
  }
}

@media (max-width: 750px) {
  .news-list{
    z-index: 100;
    height: 70vh;
  }
  .age-calculator .input-field{
    flex-direction:column;
  }
  .age-calculator .input-field input{
    margin:0;
  }
  .age-calculator .input-field button{
    margin-left:0;
    margin-top:10px;
  }
  .container .main-center .left-side{
    display: none;
  }
  .container .main-center .right-side {
    display: none;
  }
  .container .main-center .main-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: 150px;
    background-image: url('imgs/J4o.gif');
    background-position: center;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .container .main-center .main-left .side-left .left-img img{
    width: 130px;
  }
  .container .main-center .main-left .side-right .right-img img{
    width: 130px;
  }
  .container .main-center .main-left .side-left .voice-container{
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 99;
    left: 0;
  }
  .container .main-center .main-left .side-left .voice-container button{
    height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  background-color: rgb(140, 243, 243);
  border-radius: 50%;
  border: none;
   margin: 0;
  }
  .container .main-center {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .container .main-center .center {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    position: relative;
    top: 160px;
    bottom: 20px;
  }
  #speechbox{
    width: 80%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .news-list .search-news{
    flex-wrap: nowrap;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    font-size: 15px;
    padding:10px;
    gap: 10px;
  }
  .news-list .search-news button,
  .news-list .search-news select{
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  #news .card{
    width: 98%;
  }
}
